.row {
  display: block;
  margin: 0 -0.5em; }

.col {
  display: inline-block;
  vertical-align: top;
  padding: 0 0.5em; }

.xsmall .col {
  width: 100%; }

/* 2 column grid */
.col_1_of_2 {
  width: 50%; }

.col_2_of_2 {
  width: 100%; }

/* 3 column grid */
.col_1_of_3 {
  width: 33.333%; }

.col_2_of_3 {
  width: 66.667%; }

.col_3_of_3 {
  width: 100%; }

/* 4 column grid */
.col_1_of_4 {
  width: 25%; }

.col_2_of_4 {
  width: 50%; }

.col_3_of_4 {
  width: 75%; }

.col_4_of_4 {
  width: 100%; }

/* 5 column grid */
.col_1_of_5 {
  width: 20%; }

.col_2_of_5 {
  width: 40%; }

.col_3_of_5 {
  width: 60%; }

.col_4_of_5 {
  width: 80%; }

.col_5_of_5 {
  width: 100%; }

/* 6 column grid */
.col_1_of_6 {
  width: 16.667%; }

.col_2_of_6 {
  width: 33.333%; }

.col_3_of_6 {
  width: 50%; }

.col_4_of_6 {
  width: 66.667%; }

.col_5_of_6 {
  width: 83.333%; }

.col_6_of_6 {
  width: 100%; }

/* 7 column grid */
.col_1_of_7 {
  width: 14.286%; }

.col_2_of_7 {
  width: 28.571%; }

.col_3_of_7 {
  width: 42.857%; }

.col_4_of_7 {
  width: 57.143%; }

.col_5_of_7 {
  width: 71.429%; }

.col_6_of_7 {
  width: 85.714%; }

.col_7_of_7 {
  width: 100%; }

/* 8 column grid */
.col_1_of_8 {
  width: 12.5%; }

.col_2_of_8 {
  width: 25%; }

.col_3_of_8 {
  width: 37.5%; }

.col_4_of_8 {
  width: 50%; }

.col_5_of_8 {
  width: 62.5%; }

.col_6_of_8 {
  width: 75%; }

.col_7_of_8 {
  width: 87.5%; }

.col_8_of_8 {
  width: 100%; }

/* 9 column grid */
.col_1_of_9 {
  width: 11.111%; }

.col_2_of_9 {
  width: 22.222%; }

.col_3_of_9 {
  width: 33.333%; }

.col_4_of_9 {
  width: 44.444%; }

.col_5_of_9 {
  width: 55.556%; }

.col_6_of_9 {
  width: 66.667%; }

.col_7_of_9 {
  width: 77.778%; }

.col_8_of_9 {
  width: 88.889%; }

.col_9_of_9 {
  width: 100%; }

/* 10 column grid */
.col_1_of_10 {
  width: 10%; }

.col_2_of_10 {
  width: 20%; }

.col_3_of_10 {
  width: 30%; }

.col_4_of_10 {
  width: 40%; }

.col_5_of_10 {
  width: 50%; }

.col_6_of_10 {
  width: 60%; }

.col_7_of_10 {
  width: 70%; }

.col_8_of_10 {
  width: 80%; }

.col_9_of_10 {
  width: 90%; }

.col_10_of_10 {
  width: 100%; }

/* 11 column grid */
.col_1_of_11 {
  width: 9.091%; }

.col_2_of_11 {
  width: 18.182%; }

.col_3_of_11 {
  width: 27.273%; }

.col_4_of_11 {
  width: 36.364%; }

.col_5_of_11 {
  width: 45.455%; }

.col_6_of_11 {
  width: 54.545%; }

.col_7_of_11 {
  width: 63.636%; }

.col_8_of_11 {
  width: 72.727%; }

.col_9_of_11 {
  width: 81.818%; }

.col_10_of_11 {
  width: 90.909%; }

.col_11_of_11 {
  width: 100%; }

/* 12 column grid */
.col_1_of_12 {
  width: 8.333%; }

.col_2_of_12 {
  width: 16.667%; }

.col_3_of_12 {
  width: 25%; }

.col_4_of_12 {
  width: 33.333%; }

.col_5_of_12 {
  width: 41.667%; }

.col_6_of_12 {
  width: 50%; }

.col_7_of_12 {
  width: 58.333%; }

.col_8_of_12 {
  width: 66.667%; }

.col_9_of_12 {
  width: 75%; }

.col_10_of_12 {
  width: 83.333%; }

.col_11_of_12 {
  width: 91.667%; }

.col_12_of_12 {
  width: 100%; }
