@import url("../fonts/open-sans/open_sans.css");
@import url("../fonts/dejavu-sans-mono/dejavusans_mono.css");
@import url("../fonts/font-awesome.min.css");
*, *::before, *::after {
  box-sizing: border-box;
  text-indent: 0; }

html {
  font-size: 14px;
  padding: 0; }

body, form, input {
  font-family: "Open Sans", sans-serif; }

body {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  background-color: white; }

/* Basics */
p {
  margin: 1em 0; }

a:link, a:visited {
  color: #1782ba;
  text-decoration: none; }

a:visited {
  color: #2c7ba5; }

a:hover {
  color: #21a1e3;
  text-decoration: underline; }

/* Lists */
ul, ol {
  margin: 1em 0;
  padding: 0; }
  ul > :first-child, ol > :first-child {
    margin-top: 0; }
  ul > :last-child, ol > :last-child {
    margin-bottom: 0; }

ul > li {
  list-style: disc;
  margin-top: 1em;
  margin-bottom: 1em; }

ol {
  counter-reset: ord-counter; }

ol > li {
  list-style: none;
  clear: left; }

ol > li:before {
  float: left;
  margin-left: -2em;
  content: counter(ord-counter);
  counter-increment: ord-counter;
  font-weight: 800;
  color: #666; }

li {
  margin: 1em 0 1em 2em; }

li > *:first-child {
  margin-top: 0; }

li > *:last-child {
  margin-bottom: 0; }

/* Tables */
table, td, th {
  font-size: 1rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #eee;
  margin: 1em 0; }

td, th {
  text-align: left;
  vertical-align: top;
  padding: 0.7em 0.8em; }

th {
  cursor: auto;
  background-color: #e0ebeb;
  text-align: left;
  font-weight: bold;
  text-transform: none;
  border-left: none; }

td {
  border-top: 1px solid #eee; }

table tr:first-child > td {
  border-top: none; }

td > :first-child, th > :first-child {
  margin-top: 0; }

td > :last-child, th > :last-child {
  margin-bottom: 0; }

table.table {
  width: 100%; }

table > thead > tr > th:first-child {
  border-left: none; }

table > thead > tr:first-child > th:first-child {
  border-radius: 0.25rem 0 0 0; }

table > thead > tr:first-child > th:last-child {
  border-radius: 0 0.25rem 0 0; }

table > thead > tr:first-child > th:only-child {
  border-radius: 0.25rem 0.25rem 0 0; }

/* Code */
pre, code, a.Hom, a.Vex {
  font-family: "Deja Vu Sans Mono", monospace; }

pre {
  padding: 0.25em;
  overflow: auto;
  line-height: 1rem; }
  pre.numbered {
    counter-reset: line-nos; }
    pre.numbered span.line {
      display: block;
      margin-left: 3em; }
      pre.numbered span.line:before {
        display: block;
        float: left;
        margin-left: -3rem;
        padding: 0.071rem 1rem 0 0;
        width: 3rem;
        text-align: right;
        content: counter(line-nos);
        counter-increment: line-nos;
        color: #666;
        font-size: 0.857rem; }

/* Buttons */
button {
  border: 1px solid #58a4ff;
  background-color: transparent;
  color: #58a4ff;
  border-radius: 0;
  margin: 0 0.5em;
  padding: 0.5em 1em;
  font-weight: normal;
  cursor: pointer; }

button:hover {
  background-color: #58a4ff;
  color: white; }

button:active {
  background-color: #069; }

button.primary {
  border-color: #f90;
  color: #f90;
  font-weight: 600; }

button.primary:hover {
  background-color: #f90; }

button.primary:active {
  background-color: #f60; }

button.secondary {
  border-color: #999;
  color: #999; }

button.secondary:hover {
  background-color: #999;
  color: white; }

button.secondary:active {
  background-color: #666; }

/* Alternate styling for design elements inside inverted parent */
.inverted pre, .inverted code {
  background-color: black; }

.inverted table, .inverted table td {
  border-color: #333; }

.inverted th {
  background-color: rgba(255, 255, 255, 0.05); }

/* Navigation interface */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  overflow: hidden;
  background-color: white;
  color: #ccc;
  z-index: 30; }

nav > .left {
  float: left; }

nav > .right {
  float: right; }

a.brand {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0; }

a.brand img {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0; }

nav .navitem, nav .navbutton {
  display: inline-block;
  position: relative;
  top: 0; }

nav .navitem, nav .navbutton {
  margin: 0 0.5em;
  padding: 0; }

.navitem:first-child, nav .navbutton:first-child {
  margin-left: 0; }

.navitem:last-child, nav .navbutton:first-child {
  margin-right: 0; }

nav .navbutton {
  min-height: 32px;
  background-color: transparent;
  border: none;
  font: normal normal normal 14px/1 FontAwesome;
  cursor: pointer;
  margin: 0 0.25em;
  padding: 0; }

nav .navbutton, nav .navbutton:visited {
  color: #999; }

nav .navbutton:hover {
  background-color: transparent;
  color: #f90;
  text-decoration: none; }

nav a.navbutton {
  top: 0;
  padding-top: 8px; }

#q {
  width: 20em; }

header .logo {
  float: left; }

header .logo img {
  width: 2.286em;
  height: 2.286em; }

header > h1 {
  float: left;
  margin: 0.25em 0 0 0.5em;
  padding: 0;
  font-size: 1.5em;
  color: white; }

header > h1 > small {
  font-weight: 300;
  border-left: 1px solid #999;
  margin-left: 0.5em;
  padding-left: 0.5em; }

#main {
  position: absolute;
  z-index: 1;
  top: 32px;
  left: 0;
  width: 100%;
  height: 600px;
  overflow: auto;
  padding: 1em; }

#main.preview {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: visible; }

#sidebar {
  position: absolute;
  z-index: 10;
  top: 32px;
  left: 0;
  width: 320px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.95); }

#split-bar {
  background-color: #f8f8f8;
  border-left: 1px solid #ccc;
  float: right;
  width: 6px;
  height: 100px;
  cursor: col-resize; }

#sidebar.closed {
  visibility: hidden; }

#sidebar-content {
  height: 100%;
  overflow: auto; }

/* Search */
.search-results {
  display: none;
  position: absolute;
  z-index: 100;
  top: 38px;
  left: 50%;
  width: 50%;
  min-height: 32px; }
  .search-results .message {
    margin: 1em; }

#search-holder {
  margin-top: 0.2em;
  margin-right: 0.5em; }

.search {
  padding: 0.1rem 0.5rem 0.1em 1.75em;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0;
  outline: none; }

.search-outer {
  position: relative; }

.search-outer:before {
  font: normal normal normal 1em/1 FontAwesome;
  content: "\f002";
  /* fa-search */
  position: absolute;
  top: 0.25em;
  left: 0.5em; }

.search:focus {
  background-color: rgba(0, 0, 0, 0.25); }

.results-inner {
  overflow: auto;
  background-color: #2c2c2c;
  color: #ccc;
  border-radius: 6px;
  padding: 0.5em 0; }

.results-inner:after, .results-inner:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.results-inner:after {
  border-color: transparent;
  border-bottom-color: #2c2c2c;
  border-width: 8px;
  margin-left: -8px; }

.results-inner:before {
  border-color: transparent;
  border-bottom-color: transparent;
  border-width: 9px;
  margin-left: -9px; }

.results-inner::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.7); }

.results-inner > :first-child, .search-results > :first-child {
  margin-top: 0; }

.search-results .stats {
  float: right;
  font-size: 0.857em;
  color: #666; }

.search-results h2 {
  color: #fc0;
  padding: 0 1em; }

li.hit {
  margin: 0;
  color: #999;
  cursor: pointer;
  padding: 0 1em; }

li.hit:before {
  content: none; }

li.hit.selected {
  background-color: #666; }

li.hit.more {
  color: white;
  font-size: 0.857em; }

.hits h2 {
  clear: both; }

li.hit a {
  color: #6cf; }

li.hit a:hover {
  text-decoration: none; }

li.hit small {
  color: #666; }

li.selected.hit small {
  color: #ccc; }

.qstring {
  font-weight: bold;
  color: #999; }

.row {
  display: block;
  margin: 0 -0.5em; }

.col {
  display: inline-block;
  vertical-align: top;
  padding: 0 0.5em; }

.xsmall .col {
  width: 100%; }

/* 2 column grid */
.col_1_of_2 {
  width: 50%; }

.col_2_of_2 {
  width: 100%; }

/* 3 column grid */
.col_1_of_3 {
  width: 33.333%; }

.col_2_of_3 {
  width: 66.667%; }

.col_3_of_3 {
  width: 100%; }

/* 4 column grid */
.col_1_of_4 {
  width: 25%; }

.col_2_of_4 {
  width: 50%; }

.col_3_of_4 {
  width: 75%; }

.col_4_of_4 {
  width: 100%; }

/* 5 column grid */
.col_1_of_5 {
  width: 20%; }

.col_2_of_5 {
  width: 40%; }

.col_3_of_5 {
  width: 60%; }

.col_4_of_5 {
  width: 80%; }

.col_5_of_5 {
  width: 100%; }

/* 6 column grid */
.col_1_of_6 {
  width: 16.667%; }

.col_2_of_6 {
  width: 33.333%; }

.col_3_of_6 {
  width: 50%; }

.col_4_of_6 {
  width: 66.667%; }

.col_5_of_6 {
  width: 83.333%; }

.col_6_of_6 {
  width: 100%; }

/* 7 column grid */
.col_1_of_7 {
  width: 14.286%; }

.col_2_of_7 {
  width: 28.571%; }

.col_3_of_7 {
  width: 42.857%; }

.col_4_of_7 {
  width: 57.143%; }

.col_5_of_7 {
  width: 71.429%; }

.col_6_of_7 {
  width: 85.714%; }

.col_7_of_7 {
  width: 100%; }

/* 8 column grid */
.col_1_of_8 {
  width: 12.5%; }

.col_2_of_8 {
  width: 25%; }

.col_3_of_8 {
  width: 37.5%; }

.col_4_of_8 {
  width: 50%; }

.col_5_of_8 {
  width: 62.5%; }

.col_6_of_8 {
  width: 75%; }

.col_7_of_8 {
  width: 87.5%; }

.col_8_of_8 {
  width: 100%; }

/* 9 column grid */
.col_1_of_9 {
  width: 11.111%; }

.col_2_of_9 {
  width: 22.222%; }

.col_3_of_9 {
  width: 33.333%; }

.col_4_of_9 {
  width: 44.444%; }

.col_5_of_9 {
  width: 55.556%; }

.col_6_of_9 {
  width: 66.667%; }

.col_7_of_9 {
  width: 77.778%; }

.col_8_of_9 {
  width: 88.889%; }

.col_9_of_9 {
  width: 100%; }

/* 10 column grid */
.col_1_of_10 {
  width: 10%; }

.col_2_of_10 {
  width: 20%; }

.col_3_of_10 {
  width: 30%; }

.col_4_of_10 {
  width: 40%; }

.col_5_of_10 {
  width: 50%; }

.col_6_of_10 {
  width: 60%; }

.col_7_of_10 {
  width: 70%; }

.col_8_of_10 {
  width: 80%; }

.col_9_of_10 {
  width: 90%; }

.col_10_of_10 {
  width: 100%; }

/* 11 column grid */
.col_1_of_11 {
  width: 9.091%; }

.col_2_of_11 {
  width: 18.182%; }

.col_3_of_11 {
  width: 27.273%; }

.col_4_of_11 {
  width: 36.364%; }

.col_5_of_11 {
  width: 45.455%; }

.col_6_of_11 {
  width: 54.545%; }

.col_7_of_11 {
  width: 63.636%; }

.col_8_of_11 {
  width: 72.727%; }

.col_9_of_11 {
  width: 81.818%; }

.col_10_of_11 {
  width: 90.909%; }

.col_11_of_11 {
  width: 100%; }

/* 12 column grid */
.col_1_of_12 {
  width: 8.333%; }

.col_2_of_12 {
  width: 16.667%; }

.col_3_of_12 {
  width: 25%; }

.col_4_of_12 {
  width: 33.333%; }

.col_5_of_12 {
  width: 41.667%; }

.col_6_of_12 {
  width: 50%; }

.col_7_of_12 {
  width: 58.333%; }

.col_8_of_12 {
  width: 66.667%; }

.col_9_of_12 {
  width: 75%; }

.col_10_of_12 {
  width: 83.333%; }

.col_11_of_12 {
  width: 91.667%; }

.col_12_of_12 {
  width: 100%; }

/* Basics */
a.missing {
  text-decoration: none;
  border-bottom: 1px dashed red; }

body.error .errno {
  opacity: 0.1;
  font-size: 300%;
  font-weight: 100; }

.drop-cap {
  display: block;
  position: relative;
  float: left;
  font-weight: 700;
  font-size: 3.25em;
  margin-top: 0.75rem;
  margin-right: 0.5rem; }

/* Main content */
#content {
  position: relative;
  padding-bottom: 33vh; }

/* Links */
.linkicon {
  display: none;
  margin-right: 0.5em;
  vertical-align: middle; }

a.wp > .fa.fa-wikipedia-w {
  vertical-align: super;
  font-size: 0.714em; }

/* Title block */
.title-block {
  position: relative; }

.parents {
  color: #666;
  margin: 0; }
  .parents .divider {
    margin: 0 0.5em; }

h1.title {
  font-size: 2rem;
  color: #f90;
  font-weight: 300;
  margin: 0 0 0 0;
  padding: 0;
  line-height: normal; }
  h1.title .subtitle, h1.title .supertitle {
    font-weight: 100;
    color: #666;
    font-size: 1.5rem; }

h1.title.ni, h1.title.nd {
  text-decoration: line-through; }

h1.title .version {
  vertical-align: super;
  font-size: 0.786rem;
  font-weight: 600;
  background-color: #e0e0e0;
  color: #666;
  padding: 0.1em 0.4em;
  border-radius: 0.4em; }

p.summary {
  font-style: italic;
  font-weight: 300; }

body.notitle .title-block {
  display: none; }

h1.title .icon {
  padding-right: 0.5rem;
  vertical-align: middle;
  width: 2rem;
  height: 2rem; }

/* Headings */
section {
  clear: left;
  margin: 2em 0; }

section:first-child {
  margin-top: 0; }

section > .content > :first-child, section > .content > .row:first-child > .col > :first-child {
  margin-top: 0; }

section > .content > :last-child, section > .content > .row:last-child > .col > :last-child {
  margin-bottom: 0; }

section.notitle > h2 {
  display: none; }

h2.heading, h3.heading, h4.heading, h5.heading {
  clear: left;
  margin: 0 0 1.2em 0;
  color: #42a0a4; }

h2.heading {
  font-size: 1.5em;
  font-weight: 600; }

h3.heading {
  font-size: 1.25em;
  font-weight: 500; }

h4.heading {
  font-size: 1.1em;
  font-weight: 600; }

h5.heading {
  font-size: 1em;
  font-weight: 500; }

h6.heading {
  font-size: 1em;
  font-weight: 500; }

section.pull.heading {
  clear: both;
  position: relative; }
  section.pull.heading > .label {
    position: absolute;
    left: 0;
    font-size: 1rem;
    font-weight: 200;
    width: 10rem;
    margin: 0;
    padding: 0; }
  section.pull.heading.left {
    margin-left: 10rem; }
    section.pull.heading.left > .label {
      margin-left: -10rem;
      padding-right: 1rem; }

section.tiny.heading {
  font-size: 0.875em;
  margin-bottom: 0; }

/* Sections */
section.section {
  border-top: 1px solid rgba(0, 0, 0, 0.3); }

section.section.notitle {
  border-top: none; }

h2.section {
  margin: 0 0 1em 0;
  font-weight: normal;
  font-size: 1rem;
  color: #f90;
  text-transform: uppercase; }

.superclass-methods {
  margin-top: 1em;
  border-top: 1px dashed #99c;
  padding-top: 1em; }

/* Styles */
strong.ui {
  font-weight: 600; }

var {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  font-style: italic;
  color: #666; }

.keys {
  white-space: nowrap; }

kbd {
  font-family: inherit;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  color: #333;
  font-size: 11px;
  line-height: 1.4;
  text-shadow: 0 1px 0 #fff;
  display: inline-block;
  padding: 0.1em 0.6em;
  margin: 0 0.1em;
  white-space: nowrap;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  border-radius: 3px; }

/* Icons */
img.keyicon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle; }

img.icon {
  vertical-align: middle; }

img.icon.small {
  width: 1.1429em;
  height: 1.1429em; }

img.icon.medium {
  width: 2em;
  height: 1.5em; }

img.icon.large {
  width: 3em;
  height: 3em; }

/* Images */
.img-responsive {
  max-width: 100%; }

figure {
  margin: 1em 0;
  padding: 0; }

.xlarge .fig > *, .large .fig > *, .medium .fig > *, .small .fig > * {
  display: inline-block;
  vertical-align: top; }

.xlarge .fig > .figure-body, .large .fig > .figure-body, .medium .fig > .figure-body, .small .fig > .figure-body {
  padding-right: 1em; }

.small .fig > .figure-body {
  width: 50%; }

.small .fig > .figure-img {
  width: 50%; }

.medium .fig > .figure-body {
  width: 60%; }

.medium .fig > .figure-img {
  width: 40%; }

.large .fig > .figure-body {
  width: 70%; }

.large .fig > .figure-img {
  width: 30%; }

.xlarge .fig > .figure-body {
  width: 80%; }

.xlarge .fig > .figure-img {
  width: 20%; }

figure.unzoomed {
  position: static;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center; }

#lightbox img {
  box-shadow: 0 0 25px black;
  max-width: 100%; }

/* Tables */
table.tasks {
  width: 100%;
  border: none; }

td.task-desc, td.task-howto {
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

td.task-desc {
  background-color: rgba(0, 0, 0, 0.05);
  width: 33%; }

td.task-howto {
  background-color: rgba(0, 0, 0, 0.02); }

td.task-desc {
  background-color: rgba(0, 0, 0, 0.05);
  width: 33%; }

td.task-howto {
  background-color: rgba(0, 0, 0, 0.02); }

/* Positioning and grouping */
.g {
  float: left;
  width: 1.5em;
  color: rgba(0, 0, 0, 0.75); }

.inverted.g, .inverted .g {
  color: rgba(255, 255, 255, 0.75); }

/* Lists */
li.bullet {
  list-style: disc; }

li.bullet > *:nth-child(2) {
  margin-top: 0; }

li.bullet.glyphed {
  list-style: none; }

li.bullet > .g {
  margin: 0 0 0 -1.75em; }

/* Definition lists */
.def {
  margin: 1em 0; }
  .def > .label {
    font-weight: 600;
    margin-top: 0; }
    .def > .label.withglyph {
      margin-left: 2em; }
  .def > .content {
    margin-left: 2em; }
  .def.compact > .label {
    float: left;
    clear: left; }

.def > .label code {
  background-color: transparent; }

/* Boxes */
.box {
  margin: 1em 0; }
  .box > .label {
    margin: 0;
    color: #42a0a4;
    font-size: 0.875em; }

.content > :first-child {
  margin-top: 0; }

.content > :last-child {
  margin-bottom: 0; }

/* Items */
li.item {
  margin-left: 1.5rem;
  list-style: none;
  clear: left; }

li.item:before {
  float: left;
  margin-left: -1.5rem;
  font-family: "FontAwesome";
  content: "\f111";
  font-size: 0.857rem;
  opacity: 0.5; }

li.item > .content {
  margin-left: 2em; }

span.summary {
  display: inline-block;
  font-size: 0.875rem;
  color: #999;
  margin-left: 1rem;
  font-weight: normal; }

/* Parameters */
.parameters_item > .content h2.heading {
  border-bottom: none; }

.parameters_item:before {
  content: none;
  margin: 0; }

.parameters_item_group {
  display: table;
  width: 100%; }

.parameters_item {
  display: table-row; }

.parameters_item > .label {
  display: table-cell;
  background-color: #e8e8e8;
  width: 33%;
  padding: 0.5em;
  font-weight: 600;
  text-align: right; }

.parameters_item > .content {
  display: table-cell;
  background-color: #f0f0f0;
  padding: 0.5em; }

.xlarge .parameters_item > .label {
  width: 20%; }

.large .parameters_item > .label {
  width: 25%; }

.medium .parameters_item > .label {
  width: 33%; }

.small .parameters_item > .label {
  width: 40%; }

.xsmall .parameters_item > .label {
  width: 50%; }

/* HOM items */
.label.ni {
  text-decoration: line-through; }

.functions_item_group > .item, .methods_item_group > .item {
  margin-left: 0; }
  .functions_item_group > .item > .label, .methods_item_group > .item > .label {
    margin-left: 1em;
    text-indent: -1em; }

.functions_item_group > .item:before, .methods_item_group > .item:before {
  content: none;
  width: 0;
  float: none; }

.methods_item_group > .item > .label {
  font-weight: normal; }

.methods_item_group > .item > .label code {
  background-color: transparent; }

.superclass-methods {
  margin-top: 1em;
  border-top: 1px dashed #999;
  padding-top: 1em; }

/* Environment variables */
.item.env_variables_item:before {
  content: "\f155"; }

.item.env_variables_item > .label {
  margin-bottom: 0; }

.item.env_variables_item > .content {
  margin-left: 0; }

/* Subtopics */
#subtopics-body h2, #toc h2, .search-results h2 {
  font-size: 0.857em;
  font-weight: 300;
  letter-spacing: 0.1em;
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #666; }

#subtopics-body .filtered-body h2 {
  font-weight: normal;
  font-size: 1rem;
  text-transform: inherit; }

.narrow-columns ul.subtopics_item_group, .columns ul.subtopics_item_group, .wide-columns ul.subtopics_item_group {
  margin-top: 0; }

.subtopics_item_group > .item {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column; }
  .subtopics_item_group > .item > .label {
    margin: 0; }
  .subtopics_item_group > .item > .summary {
    margin-top: 0;
    font-size: 0.786em;
    line-height: 1.1em;
    font-style: normal;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column; }

.subtopic-icon {
  display: none;
  float: left;
  margin-left: -1em; }

section.show-icons .subtopic-icon {
  display: block; }

section.show-icons .subtopics_item_group > .item > .label, section.show-icons .subtopics_item_group > .item > .summary, section.show-icons .subtopics_item_group > .item > .content {
  padding-left: 1.5rem; }

.subtopics_item_group > .item:before {
  /* content: "\f054"; */
  /* chevron-right */
  content: "\f105";
  /* angle-right */
  color: #666; }

.subtopics_item_group > .item.container:before {
  content: "\f114";
  /* folder-o */
  /* content: "\f0da"; */
  /* carat-right */
  /* content: "\f196"; */
  /* plus-square-o */ }

.subtopics_item_group > .item.ancestor:before,
.subtopics_item_group > .item.container.here:before {
  content: "\f07c";
  /* folder-open */
  /* content: "\f0d7"; */
  /* carat-down */
  /* content: "\f147"; */
  /* minus-square-o */ }

.subtopics_item_group > .item.here:before {
  /* content: "\f101"; */
  /* angle-double-right */ }

/* TOC */
#toc {
  padding: 0 0.5em; }

.subtopics_item_group > .item.here > .label {
  font-weight: bold;
  margin-bottom: 0; }

.subtopics_item_group > .item > div.content {
  margin-left: 1em; }

#toc .summary {
  display: none; }

#toc section.pull.heading {
  margin-left: 0; }
  #toc section.pull.heading > .label {
    position: static;
    font-size: 1rem;
    font-weight: 200;
    width: 100%;
    margin: 1em 0 0 0;
    padding: 0; }

/* Notices */
.notice {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  padding-left: 0.5em; }

.notice > .label {
  margin: 0;
  position: relative;
  font-weight: 600; }

.notice > .label > .notice-glyph {
  position: absolute;
  left: -2em;
  padding-top: 0.3em; }

.tip, .note, .warning {
  border-left: 1px solid green; }

.tip {
  border-left-color: #69cc00; }
  .tip > .label {
    color: #69cc00; }

.note {
  border-left-color: #9d4dff; }
  .note > .label {
    color: #9d4dff; }

.warning {
  border-left-color: #ff3300; }
  .warning > .label {
    color: #ff3300; }

.new > .label {
  color: #ffcc00; }

.changed > .label {
  color: #9d4dff; }

.dev > .label {
  color: #6f9699; }

.fixed > .label {
  color: #69cc00; }

.bug > .label {
  color: #ff9900; }

.platform.mac > .label {
  color: #c00; }

.platform.windows > .label {
  color: #39c; }

.platform.linux > .label {
  color: #6633cc; }

.notices > :first-child {
  margin-top: 1em; }

.notices > :last-child {
  margin-bottom: 1em; }

/* Billboards */
.billboard {
  position: relative;
  padding: 2em;
  margin: -1em 0 0 -1em;
  width: calc(100% + 2em);
  background-position: center center;
  background-size: cover;
  text-align: right;
  color: white;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
  font-weight: 100;
  transition: background-image 0.5s ease-in-out;
  min-height: 30vh; }
  .billboard h2 {
    font-weight: 800;
    font-size: 3em; }

/* Sticker */
.sticker {
  display: inline-block;
  position: relative;
  margin: 0 0.75em 0 0;
  padding: 0 0.5em;
  font-size: 0.857em;
  background-color: #e8e8e8;
  color: black; }
  .sticker:before, .sticker:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -6px;
    top: 0.5em;
    border-right: 0 solid transparent;
    border-left: 6px solid #e8e8e8;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; }

.sticker.inverted {
  background-color: inherit;
  color: inherit; }

.sticker.inverted > .label {
  background-color: #1c1c1c;
  color: #aaa; }
  .sticker.inverted > .label:before, .sticker.inverted > .label:after {
    border-left-color: #1c1c1c; }

.sticker.outlined > .label {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black; }
  .sticker.outlined > .label:before, .sticker.outlined > .label:after {
    border-left-color: rgba(0, 0, 0, 0.1); }
  .sticker.outlined > .label:after {
    right: -4px;
    border-left-color: white; }

/* Separator */
.sep {
  position: relative;
  font-size: 0.857em;
  font-weight: 700;
  margin: 1rem 0 1rem 0;
  letter-spacing: 0.05em;
  -webkit-user-select: none;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  line-height: 1;
  text-align: center;
  clear: both; }

.sep:not(.titled) {
  border-top: 1px solid rgba(0, 0, 0, 0.0980392);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.titled.sep::before, .titled.sep::after {
  position: absolute;
  content: '';
  z-index: 3;
  width: 50%;
  top: 50%;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.0980392);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.titled.sep::before {
  margin-left: calc(-50% - 1em); }

.titled.sep::after {
  margin-left: 1em; }

/* Filters */
.filter-controls {
  margin: 1em 0; }

.filter-controls button {
  padding: 0.25em 0.5em; }

/* Metadata */
.metadata {
  margin: 1em 0; }

.metadata > .data {
  display: inline-block;
  margin-right: 1em; }

.metadata > .data > .label {
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #aaa;
  font-weight: normal;
  margin-bottom: 0.25rem; }

.metadata > .data > .content {
  margin-left: 0; }

.compact.metadata {
  font-size: 0.857em;
  margin: 0.5em 0; }

.compact.metadata > .data {
  margin-right: 1em; }

.compact.metadata > .data > .label {
  display: inline-block;
  margin-right: 0.5em; }

.compact.metadata > .data > .content {
  display: inline-block; }

.linkboxes > .linkbox {
  display: block; }

.linkbox {
  margin: 0.25em 0 0.25em 0; }
  .linkbox.withicon {
    margin-left: 2.5em; }
  .linkbox img {
    margin-left: -2.5em;
    width: 2em;
    height: 2em;
    vertical-align: middle; }

/* Collapsible */
.page-toc {
  background-color: rgba(255, 255, 255, 0.05);
  padding-right: 1em; }
  .page-toc > .label {
    margin-bottom: 0; }
  .page-toc > .content > li {
    margin: 0;
    padding: 0 0 0 2.5em;
    list-style: none; }
    .page-toc > .content > li:before {
      position: absolute;
      font-family: "FontAwesome";
      font-weight: normal;
      content: "\f105";
      margin-left: -1.25em;
      opacity: 0.5; }

.collapsible > .label {
  cursor: pointer; }
  .collapsible > .label:hover {
    background-color: rgba(0, 0, 0, 0.05); }

.collapsible > .label:before {
  position: relative;
  width: 1rem;
  margin-right: 0.25rem;
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 1rem;
  content: "\f147";
  opacity: 0.5; }

.collapsible.collapsed > .label {
  margin-bottom: 0; }

.collapsible.collapsed > .label:before {
  font-family: "FontAwesome";
  content: "\f196"; }

.collapsible > .content {
  margin: 0;
  padding: 0; }

.collapsible > .collapsed-content {
  margin-left: 1.5em;
  display: none; }

.collapsible.collapsed > .content {
  display: none; }

.collapsible.collapsed > .collapsed-content {
  display: block; }

.collapsed-content {
  font-size: 0.786em;
  opacity: 0.5;
  margin-top: 0; }

.pull.collapsible.collapsed > .label {
  float: none; }

/* Troubleshooting table */
th.if {
  background: repeating-linear-gradient(-45deg, #e8e8e8, #e8e8e8 10px, #f0f0f0 10px, #f0f0f0 20px); }

td.if {
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.025) 10px, transparent 10px, transparent 20px); }

td.level1, td.level2, td.qual {
  width: 33.3333%; }

td.unqual {
  width: 66.6666%; }

/* Examples */
.examples {
  margin: 1em 0; }

.example {
  background-color: #f8f8f8;
  margin: 1px 0;
  padding: 0.5em;
  clear: left; }
  .example > .label {
    margin: 0 0 0 10rem;
    font-weight: bold; }
  .example > .content {
    font-size: 0.875em;
    margin: 0 0 0 10rem; }

.inverted .example {
  background-color: #242424; }

.example-buttons {
  float: left; }
  .example-buttons > button {
    margin: 0; }

code.example-path {
  background-color: transparent;
  opacity: 0.6; }

/* Charts */
table.chart-table {
  width: 100%; }

table.chart-table, table.chart-table td {
  border: none;
  padding: 0;
  font-size: 0.875em;
  color: #999; }

div.chart {
  width: 100%;
  min-width: 4em;
  min-height: 14em; }

table.chart-table td.top {
  text-align: center;
  vertical-align: bottom; }

table.chart-table td.left {
  text-align: right;
  vertical-align: middle;
  width: 3em; }

table.chart-table td.left > div, table.chart-table td.right > div {
  position: absolute;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%; }

table.chart-table td.right {
  text-align: left;
  vertical-align: middle;
  width: 3em; }

table.chart-table td.bottom {
  text-align: center;
  vertical-align: top; }

/* Videos */
.video {
  width: 100%; }

.xlarge .vimeo.video {
  height: 460px; }

.large .vimeo.video {
  height: 400px; }

.medium .vimeo.video {
  height: 320px; }

.small .vimeo.video {
  height: 280px; }

.xsmall .vimeo.video {
  height: 240px; }

.vimeo-reference {
  clear: both;
  margin: 1em 0;
  min-height: 75px; }
  .vimeo-reference .thumbnail {
    float: left;
    width: 100px;
    height: 75px; }
  .vimeo-reference .label {
    margin-left: 128px;
    font-size: 1.75em;
    font-weight: 200;
    line-height: 125%; }
  .vimeo-reference .content {
    margin-top: 1em;
    margin-left: 128px; }

/* Chat bubbles */
.bubbles {
  margin: 1em 0; }
  .bubbles .bubbles {
    margin: 24px 0; }
  .bubbles :first-child {
    margin-top: 0; }
  .bubbles :last-child {
    margin-bottom: 0; }

.bubble {
  margin: 24px 12px;
  position: relative;
  height: auto;
  background-color: #e0e0e0;
  padding: 0.5em 1em;
  min-height: 24px; }
  .bubble:before, .bubble:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: auto;
    border: 0 solid #e0e0e0; }

.inverted .bubble, .inverted.bubble {
  background-color: #333;
  border-radius: 0; }
  .inverted .bubble:before, .inverted .bubble:after, .inverted.bubble:before, .inverted.bubble:after {
    border-color: #333; }

.bubble > *:first-child {
  margin-top: 0; }

.bubble > *:last-child {
  margin-bottom: 0; }

/* Display attributes */
.inverted, .bordered, .raised, .rounded {
  padding: 0.5em 1em;
  border-radius: 8px; }

.inverted {
  background-color: #1c1c1c;
  color: #aaa; }

.bordered, .raised {
  border: 1px solid rgba(0, 0, 0, 0.3); }

.inverted .bordered, .inverted .raised {
  border-color: rgba(255, 255, 255, 0.3); }

.raised {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25); }

.rounded {
  background-color: #f0f0f0; }

.rounded.gray, .bordered.gray, .raised.gray, td.gray {
  background-color: #f0f0f0; }

.inverted .gray, .inverted.gray,
.inverted td.gray, td.inverted.gray {
  background-color: #333;
  color: #aaa; }

.bordered.gray, .raised.color {
  border-bottom-color: #f8f8f8; }

.notice.gray > .label {
  color: #f8f8f8; }

.def.gray > .label {
  color: #f8f8f8; }

.bubble.gray {
  background-color: #f0f0f0; }
  .bubble.gray:before, .bubble.gray:after {
    border-color: #f0f0f0;
    background-color: transparent; }

.inverted.bubble.gray, .inverted .bubble.gray {
  background-color: #333; }
  .inverted.bubble.gray:before, .inverted.bubble.gray:after, .inverted .bubble.gray:before, .inverted .bubble.gray:after {
    border-color: #333;
    background-color: transparent; }

.gray > .g, .fa.gray {
  color: #f8f8f8; }

.light.gray > .g, .fa.light.gray {
  color: #f0f0f0; }

.dark.gray > .g, .fa.dark.gray {
  color: #333; }

.sep.gray {
  border-bottom-color: #f8f8f8;
  color: #f8f8f8; }
  .sep.gray.titled:before, .sep.gray.titled:after {
    border-bottom-color: #f8f8f8; }

.item.gray > .label {
  background-color: #f0f0f0; }

.inverted .item.gray > .label,
.inverted.item.gray > .label {
  background-color: #333; }

.label.gray {
  color: #f8f8f8 !important; }

.inverted.gray.sticker {
  background-color: inherit;
  color: inherit; }

.gray.sticker > .label {
  color: #f8f8f8; }

.rounded.blue, .bordered.blue, .raised.blue, td.blue {
  background-color: #cfe6fc; }

.inverted .blue, .inverted.blue,
.inverted td.blue, td.inverted.blue {
  background-color: #0f273d;
  color: #aaa; }

.bordered.blue, .raised.color {
  border-bottom-color: #0084ff; }

.notice.blue > .label {
  color: #0084ff; }

.def.blue > .label {
  color: #0084ff; }

.bubble.blue {
  background-color: #cfe6fc; }
  .bubble.blue:before, .bubble.blue:after {
    border-color: #cfe6fc;
    background-color: transparent; }

.inverted.bubble.blue, .inverted .bubble.blue {
  background-color: #0f273d; }
  .inverted.bubble.blue:before, .inverted.bubble.blue:after, .inverted .bubble.blue:before, .inverted .bubble.blue:after {
    border-color: #0f273d;
    background-color: transparent; }

.blue > .g, .fa.blue {
  color: #0084ff; }

.light.blue > .g, .fa.light.blue {
  color: #cfe6fc; }

.dark.blue > .g, .fa.dark.blue {
  color: #0f273d; }

.sep.blue {
  border-bottom-color: #0084ff;
  color: #0084ff; }
  .sep.blue.titled:before, .sep.blue.titled:after {
    border-bottom-color: #0084ff; }

.item.blue > .label {
  background-color: #cfe6fc; }

.inverted .item.blue > .label,
.inverted.item.blue > .label {
  background-color: #0f273d; }

.label.blue {
  color: #0084ff !important; }

.inverted.blue.sticker {
  background-color: inherit;
  color: inherit; }

.blue.sticker > .label {
  color: #0084ff; }

.rounded.pink, .bordered.pink, .raised.pink, td.pink {
  background-color: #fce8ef; }

.inverted .pink, .inverted.pink,
.inverted td.pink, td.inverted.pink {
  background-color: #581d31;
  color: #aaa; }

.bordered.pink, .raised.color {
  border-bottom-color: #ff8fb4; }

.notice.pink > .label {
  color: #ff8fb4; }

.def.pink > .label {
  color: #ff8fb4; }

.bubble.pink {
  background-color: #fce8ef; }
  .bubble.pink:before, .bubble.pink:after {
    border-color: #fce8ef;
    background-color: transparent; }

.inverted.bubble.pink, .inverted .bubble.pink {
  background-color: #581d31; }
  .inverted.bubble.pink:before, .inverted.bubble.pink:after, .inverted .bubble.pink:before, .inverted .bubble.pink:after {
    border-color: #581d31;
    background-color: transparent; }

.pink > .g, .fa.pink {
  color: #ff8fb4; }

.light.pink > .g, .fa.light.pink {
  color: #fce8ef; }

.dark.pink > .g, .fa.dark.pink {
  color: #581d31; }

.sep.pink {
  border-bottom-color: #ff8fb4;
  color: #ff8fb4; }
  .sep.pink.titled:before, .sep.pink.titled:after {
    border-bottom-color: #ff8fb4; }

.item.pink > .label {
  background-color: #fce8ef; }

.inverted .item.pink > .label,
.inverted.item.pink > .label {
  background-color: #581d31; }

.label.pink {
  color: #ff8fb4 !important; }

.inverted.pink.sticker {
  background-color: inherit;
  color: inherit; }

.pink.sticker > .label {
  color: #ff8fb4; }

.rounded.red, .bordered.red, .raised.red, td.red {
  background-color: #fed7cd; }

.inverted .red, .inverted.red,
.inverted td.red, td.inverted.red {
  background-color: #3d180f;
  color: #aaa; }

.bordered.red, .raised.color {
  border-bottom-color: #ff3300; }

.notice.red > .label {
  color: #ff3300; }

.def.red > .label {
  color: #ff3300; }

.bubble.red {
  background-color: #fed7cd; }
  .bubble.red:before, .bubble.red:after {
    border-color: #fed7cd;
    background-color: transparent; }

.inverted.bubble.red, .inverted .bubble.red {
  background-color: #3d180f; }
  .inverted.bubble.red:before, .inverted.bubble.red:after, .inverted .bubble.red:before, .inverted .bubble.red:after {
    border-color: #3d180f;
    background-color: transparent; }

.red > .g, .fa.red {
  color: #ff3300; }

.light.red > .g, .fa.light.red {
  color: #fed7cd; }

.dark.red > .g, .fa.dark.red {
  color: #3d180f; }

.sep.red {
  border-bottom-color: #ff3300;
  color: #ff3300; }
  .sep.red.titled:before, .sep.red.titled:after {
    border-bottom-color: #ff3300; }

.item.red > .label {
  background-color: #fed7cd; }

.inverted .item.red > .label,
.inverted.item.red > .label {
  background-color: #3d180f; }

.label.red {
  color: #ff3300 !important; }

.inverted.red.sticker {
  background-color: inherit;
  color: inherit; }

.red.sticker > .label {
  color: #ff3300; }

.rounded.green, .bordered.green, .raised.green, td.green {
  background-color: #daf7ba; }

.inverted .green, .inverted.green,
.inverted td.green, td.inverted.green {
  background-color: #1a2b08;
  color: #aaa; }

.bordered.green, .raised.color {
  border-bottom-color: #69cc00; }

.notice.green > .label {
  color: #69cc00; }

.def.green > .label {
  color: #69cc00; }

.bubble.green {
  background-color: #daf7ba; }
  .bubble.green:before, .bubble.green:after {
    border-color: #daf7ba;
    background-color: transparent; }

.inverted.bubble.green, .inverted .bubble.green {
  background-color: #1a2b08; }
  .inverted.bubble.green:before, .inverted.bubble.green:after, .inverted .bubble.green:before, .inverted .bubble.green:after {
    border-color: #1a2b08;
    background-color: transparent; }

.green > .g, .fa.green {
  color: #69cc00; }

.light.green > .g, .fa.light.green {
  color: #daf7ba; }

.dark.green > .g, .fa.dark.green {
  color: #1a2b08; }

.sep.green {
  border-bottom-color: #69cc00;
  color: #69cc00; }
  .sep.green.titled:before, .sep.green.titled:after {
    border-bottom-color: #69cc00; }

.item.green > .label {
  background-color: #daf7ba; }

.inverted .item.green > .label,
.inverted.item.green > .label {
  background-color: #1a2b08; }

.label.green {
  color: #69cc00 !important; }

.inverted.green.sticker {
  background-color: inherit;
  color: inherit; }

.green.sticker > .label {
  color: #69cc00; }

.rounded.yellow, .bordered.yellow, .raised.yellow, td.yellow {
  background-color: #fff7d6; }

.inverted .yellow, .inverted.yellow,
.inverted td.yellow, td.inverted.yellow {
  background-color: #29230a;
  color: #aaa; }

.bordered.yellow, .raised.color {
  border-bottom-color: #ffcc00; }

.notice.yellow > .label {
  color: #ffcc00; }

.def.yellow > .label {
  color: #ffcc00; }

.bubble.yellow {
  background-color: #fff7d6; }
  .bubble.yellow:before, .bubble.yellow:after {
    border-color: #fff7d6;
    background-color: transparent; }

.inverted.bubble.yellow, .inverted .bubble.yellow {
  background-color: #29230a; }
  .inverted.bubble.yellow:before, .inverted.bubble.yellow:after, .inverted .bubble.yellow:before, .inverted .bubble.yellow:after {
    border-color: #29230a;
    background-color: transparent; }

.yellow > .g, .fa.yellow {
  color: #ffcc00; }

.light.yellow > .g, .fa.light.yellow {
  color: #fff7d6; }

.dark.yellow > .g, .fa.dark.yellow {
  color: #29230a; }

.sep.yellow {
  border-bottom-color: #ffcc00;
  color: #ffcc00; }
  .sep.yellow.titled:before, .sep.yellow.titled:after {
    border-bottom-color: #ffcc00; }

.item.yellow > .label {
  background-color: #fff7d6; }

.inverted .item.yellow > .label,
.inverted.item.yellow > .label {
  background-color: #29230a; }

.label.yellow {
  color: #ffcc00 !important; }

.inverted.yellow.sticker {
  background-color: inherit;
  color: inherit; }

.yellow.sticker > .label {
  color: #ffcc00; }

.rounded.purple, .bordered.purple, .raised.purple, td.purple {
  background-color: #f1e8fc; }

.inverted .purple, .inverted.purple,
.inverted td.purple, td.inverted.purple {
  background-color: #381d58;
  color: #aaa; }

.bordered.purple, .raised.color {
  border-bottom-color: #9d4dff; }

.notice.purple > .label {
  color: #9d4dff; }

.def.purple > .label {
  color: #9d4dff; }

.bubble.purple {
  background-color: #f1e8fc; }
  .bubble.purple:before, .bubble.purple:after {
    border-color: #f1e8fc;
    background-color: transparent; }

.inverted.bubble.purple, .inverted .bubble.purple {
  background-color: #381d58; }
  .inverted.bubble.purple:before, .inverted.bubble.purple:after, .inverted .bubble.purple:before, .inverted .bubble.purple:after {
    border-color: #381d58;
    background-color: transparent; }

.purple > .g, .fa.purple {
  color: #9d4dff; }

.light.purple > .g, .fa.light.purple {
  color: #f1e8fc; }

.dark.purple > .g, .fa.dark.purple {
  color: #381d58; }

.sep.purple {
  border-bottom-color: #9d4dff;
  color: #9d4dff; }
  .sep.purple.titled:before, .sep.purple.titled:after {
    border-bottom-color: #9d4dff; }

.item.purple > .label {
  background-color: #f1e8fc; }

.inverted .item.purple > .label,
.inverted.item.purple > .label {
  background-color: #381d58; }

.label.purple {
  color: #9d4dff !important; }

.inverted.purple.sticker {
  background-color: inherit;
  color: inherit; }

.purple.sticker > .label {
  color: #9d4dff; }

.rounded.magenta, .bordered.magenta, .raised.magenta, td.magenta {
  background-color: #fccfef; }

.inverted .magenta, .inverted.magenta,
.inverted td.magenta, td.inverted.magenta {
  background-color: #3d0f2f;
  color: #aaa; }

.bordered.magenta, .raised.color {
  border-bottom-color: #ff00b2; }

.notice.magenta > .label {
  color: #ff00b2; }

.def.magenta > .label {
  color: #ff00b2; }

.bubble.magenta {
  background-color: #fccfef; }
  .bubble.magenta:before, .bubble.magenta:after {
    border-color: #fccfef;
    background-color: transparent; }

.inverted.bubble.magenta, .inverted .bubble.magenta {
  background-color: #3d0f2f; }
  .inverted.bubble.magenta:before, .inverted.bubble.magenta:after, .inverted .bubble.magenta:before, .inverted .bubble.magenta:after {
    border-color: #3d0f2f;
    background-color: transparent; }

.magenta > .g, .fa.magenta {
  color: #ff00b2; }

.light.magenta > .g, .fa.light.magenta {
  color: #fccfef; }

.dark.magenta > .g, .fa.dark.magenta {
  color: #3d0f2f; }

.sep.magenta {
  border-bottom-color: #ff00b2;
  color: #ff00b2; }
  .sep.magenta.titled:before, .sep.magenta.titled:after {
    border-bottom-color: #ff00b2; }

.item.magenta > .label {
  background-color: #fccfef; }

.inverted .item.magenta > .label,
.inverted.item.magenta > .label {
  background-color: #3d0f2f; }

.label.magenta {
  color: #ff00b2 !important; }

.inverted.magenta.sticker {
  background-color: inherit;
  color: inherit; }

.magenta.sticker > .label {
  color: #ff00b2; }

.rounded.teal, .bordered.teal, .raised.teal, td.teal {
  background-color: #d1f2fa; }

.inverted .teal, .inverted.teal,
.inverted td.teal, td.inverted.teal {
  background-color: #08303a;
  color: #aaa; }

.bordered.teal, .raised.color {
  border-bottom-color: #00ccff; }

.notice.teal > .label {
  color: #00ccff; }

.def.teal > .label {
  color: #00ccff; }

.bubble.teal {
  background-color: #d1f2fa; }
  .bubble.teal:before, .bubble.teal:after {
    border-color: #d1f2fa;
    background-color: transparent; }

.inverted.bubble.teal, .inverted .bubble.teal {
  background-color: #08303a; }
  .inverted.bubble.teal:before, .inverted.bubble.teal:after, .inverted .bubble.teal:before, .inverted .bubble.teal:after {
    border-color: #08303a;
    background-color: transparent; }

.teal > .g, .fa.teal {
  color: #00ccff; }

.light.teal > .g, .fa.light.teal {
  color: #d1f2fa; }

.dark.teal > .g, .fa.dark.teal {
  color: #08303a; }

.sep.teal {
  border-bottom-color: #00ccff;
  color: #00ccff; }
  .sep.teal.titled:before, .sep.teal.titled:after {
    border-bottom-color: #00ccff; }

.item.teal > .label {
  background-color: #d1f2fa; }

.inverted .item.teal > .label,
.inverted.item.teal > .label {
  background-color: #08303a; }

.label.teal {
  color: #00ccff !important; }

.inverted.teal.sticker {
  background-color: inherit;
  color: inherit; }

.teal.sticker > .label {
  color: #00ccff; }

.rounded.orange, .bordered.orange, .raised.orange, td.orange {
  background-color: #faead1; }

.inverted .orange, .inverted.orange,
.inverted td.orange, td.inverted.orange {
  background-color: #3c2607;
  color: #aaa; }

.bordered.orange, .raised.color {
  border-bottom-color: #ff9900; }

.notice.orange > .label {
  color: #ff9900; }

.def.orange > .label {
  color: #ff9900; }

.bubble.orange {
  background-color: #faead1; }
  .bubble.orange:before, .bubble.orange:after {
    border-color: #faead1;
    background-color: transparent; }

.inverted.bubble.orange, .inverted .bubble.orange {
  background-color: #3c2607; }
  .inverted.bubble.orange:before, .inverted.bubble.orange:after, .inverted .bubble.orange:before, .inverted .bubble.orange:after {
    border-color: #3c2607;
    background-color: transparent; }

.orange > .g, .fa.orange {
  color: #ff9900; }

.light.orange > .g, .fa.light.orange {
  color: #faead1; }

.dark.orange > .g, .fa.dark.orange {
  color: #3c2607; }

.sep.orange {
  border-bottom-color: #ff9900;
  color: #ff9900; }
  .sep.orange.titled:before, .sep.orange.titled:after {
    border-bottom-color: #ff9900; }

.item.orange > .label {
  background-color: #faead1; }

.inverted .item.orange > .label,
.inverted.item.orange > .label {
  background-color: #3c2607; }

.label.orange {
  color: #ff9900 !important; }

.inverted.orange.sticker {
  background-color: inherit;
  color: inherit; }

.orange.sticker > .label {
  color: #ff9900; }

.rounded.seafoam, .bordered.seafoam, .raised.seafoam, td.seafoam {
  background-color: #d1fae8; }

.inverted .seafoam, .inverted.seafoam,
.inverted td.seafoam, td.inverted.seafoam {
  background-color: #083a24;
  color: #aaa; }

.bordered.seafoam, .raised.color {
  border-bottom-color: #00ff91; }

.notice.seafoam > .label {
  color: #00ff91; }

.def.seafoam > .label {
  color: #00ff91; }

.bubble.seafoam {
  background-color: #d1fae8; }
  .bubble.seafoam:before, .bubble.seafoam:after {
    border-color: #d1fae8;
    background-color: transparent; }

.inverted.bubble.seafoam, .inverted .bubble.seafoam {
  background-color: #083a24; }
  .inverted.bubble.seafoam:before, .inverted.bubble.seafoam:after, .inverted .bubble.seafoam:before, .inverted .bubble.seafoam:after {
    border-color: #083a24;
    background-color: transparent; }

.seafoam > .g, .fa.seafoam {
  color: #00ff91; }

.light.seafoam > .g, .fa.light.seafoam {
  color: #d1fae8; }

.dark.seafoam > .g, .fa.dark.seafoam {
  color: #083a24; }

.sep.seafoam {
  border-bottom-color: #00ff91;
  color: #00ff91; }
  .sep.seafoam.titled:before, .sep.seafoam.titled:after {
    border-bottom-color: #00ff91; }

.item.seafoam > .label {
  background-color: #d1fae8; }

.inverted .item.seafoam > .label,
.inverted.item.seafoam > .label {
  background-color: #083a24; }

.label.seafoam {
  color: #00ff91 !important; }

.inverted.seafoam.sticker {
  background-color: inherit;
  color: inherit; }

.seafoam.sticker > .label {
  color: #00ff91; }

.rounded.white, .bordered.white, .raised.white, td.white {
  background-color: #fff; }

.inverted .white, .inverted.white,
.inverted td.white, td.inverted.white {
  background-color: #282828;
  color: #aaa; }

.bordered.white, .raised.color {
  border-bottom-color: #fff; }

.notice.white > .label {
  color: #fff; }

.def.white > .label {
  color: #fff; }

.bubble.white {
  background-color: #fff; }
  .bubble.white:before, .bubble.white:after {
    border-color: #fff;
    background-color: transparent; }

.inverted.bubble.white, .inverted .bubble.white {
  background-color: #282828; }
  .inverted.bubble.white:before, .inverted.bubble.white:after, .inverted .bubble.white:before, .inverted .bubble.white:after {
    border-color: #282828;
    background-color: transparent; }

.white > .g, .fa.white {
  color: #fff; }

.light.white > .g, .fa.light.white {
  color: #fff; }

.dark.white > .g, .fa.dark.white {
  color: #282828; }

.sep.white {
  border-bottom-color: #fff;
  color: #fff; }
  .sep.white.titled:before, .sep.white.titled:after {
    border-bottom-color: #fff; }

.item.white > .label {
  background-color: #fff; }

.inverted .item.white > .label,
.inverted.item.white > .label {
  background-color: #282828; }

.label.white {
  color: #fff !important; }

.inverted.white.sticker {
  background-color: inherit;
  color: inherit; }

.white.sticker > .label {
  color: #fff; }

/* Alternate styling for design elements inside inverted parent */
body.inverted {
  padding: 0; }

.inverted .parents {
  color: #999; }

.inverted section.section {
  border-top-color: rgba(255, 255, 255, 0.3); }

.inverted h1.title small {
  color: #999; }

.inverted h1.title .version {
  background-color: #333;
  color: #999; }

.inverted var {
  border-bottom-color: rgba(255, 255, 255, 0.1); }

.inverted .linkbox {
  border-color: rgba(255, 255, 255, 0.1); }

.inverted td.task-desc {
  background-color: rgba(255, 255, 255, 0.05); }

.inverted td.task-howto {
  background-color: rgba(255, 255, 255, 0.02); }

.inverted th.if {
  background: repeating-linear-gradient(-45deg, #383838, #383838 10px, #333 10px, #333 20px); }

.inverted td.if {
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02) 10px, transparent 10px, transparent 20px); }

.inverted .notice > .label {
  background-color: #292929; }
  .inverted .notice > .label:after {
    border-left-color: #292929; }

.inverted .parameters_item > .label {
  background-color: #242424; }

.inverted .parameters_item > .content {
  background-color: #292929; }

.inverted.tip td.g, .inverted.tip td.label, .inverted.note td.g, .inverted.note td.label, .inverted.warning td.g, .inverted.warning td.label {
  background-color: #242424; }

.inverted.tip td.content, .inverted.note td.content, .inverted.warning td.content {
  background-color: #292929; }

.inverted.parameters_item > .label {
  background-color: #242424; }

.inverted.parameters_item > .content {
  background-color: #292929; }

/* Bubble arrows - these need to go after the colors to override them */
.bubble.left:before {
  left: -12px;
  right: auto;
  top: 0;
  border-left: 0 solid transparent !important;
  border-right-width: 12px !important;
  border-right-style: solid !important;
  border-top: 12px solid transparent !important;
  border-bottom: 12px solid transparent !important; }

.bubble.right:after {
  left: auto;
  top: 0;
  right: -12px;
  border-right: 0 solid transparent !important;
  border-left-width: 12px !important;
  border-left-style: solid !important;
  border-top: 12px solid transparent !important;
  border-bottom: 12px solid transparent !important; }

.bubble.up:before {
  top: -12px;
  left: 50%;
  margin-left: -12px;
  border-top: 0 solid transparent !important;
  border-bottom-width: 12px !important;
  border-bottom-style: solid !important;
  border-left: 12px solid transparent !important;
  border-right: 12px solid transparent !important; }

.bubble.down:after {
  margin-top: 0.5em;
  left: 50%;
  margin-left: -12px;
  border-bottom: 0 solid transparent !important;
  border-top-width: 12px !important;
  border-top-style: solid !important;
  border-left: 12px solid transparent !important;
  border-right: 12px solid transparent !important; }

/* Tabs */
.tab-group {
  position: relative;
  margin: 1em auto;
  clear: both; }
  .tab-group .tab-heading > .label {
    font-size: 0.857em;
    position: relative;
    display: inline-block;
    color: #1782ba;
    background-color: transparent;
    margin: 0 1px 0 1px;
    padding: 0.1rem 0.75rem;
    cursor: pointer; }
  .tab-group .tab-heading > .label.selected {
    background-color: #e0e0e0;
    color: black; }
  .tab-group .tab-heading > .label.selected:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: auto;
    left: 50%;
    margin-left: -6px;
    margin-top: 1.6rem;
    border: 6px solid transparent;
    border-top-color: #e0e0e0;
    border-bottom-width: 0; }
  .tab-group .tab-bodies {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em 0.5em 0.5em 0.5em; }
    .tab-group .tab-bodies > .content {
      display: none; }
    .tab-group .tab-bodies > .content.selected {
      display: block; }

.inverted .tab-group > .tab-heading > .label:not(.selected) {
  background-color: transparent; }

.inverted .tab-group > .tab-heading > .label.selected {
  background-color: #333;
  color: #aaa; }

.inverted .tab-group > .tab-heading > .label.selected:after {
  border-top-color: #333; }

.hitlist.narrow-columns .filtered-body {
  column-width: 10em; }

.hitlist.columns .filtered-body {
  column-width: 14em; }

.hitlist.wide-columns .filtered-body {
  column-width: 18em; }

.code-container {
  margin: 1em 0; }

pre {
  margin: 0;
  padding: 0.5em;
  background-color: #f4f4f4; }

.inverted pre, pre.inverted, .inverted code {
  background-color: black; }

.bit.beta {
  font-size: 0.714rem;
  padding: 0.1rem 0.25rem;
  border: 1px solid #c00;
  color: #c00;
  border-radius: 4px;
  text-transform: uppercase;
  vertical-align: super; }

.fold-button, .fold-return {
  font-size: 0.714rem;
  font-weight: bold;
  vertical-align: super;
  cursor: pointer;
  color: #1782ba; }

.fold-button {
  padding: 0.1rem 0.25rem;
  background-color: #e0e0e0;
  border-radius: 4px; }

input.fold-state {
  position: absolute;
  left: -9999px; }

.fold-target {
  display: none;
  margin-left: 2em; }

input.fold-state:checked + .fold-target {
  display: block; }

.fold-return {
  background-color: transparent;
  float: left;
  padding: 0;
  margin-left: -2em; }
