<!DOCTYPE html>
<html>
<head>
{% block head %}
    {% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="{% block charset %}UTF-8{% endblock %}">
    {% block styles %}{% endblock %}

    <link rel="icon" href="{{ rel(config.ICON_32 | d("")) }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ rel(config.ICON_144 | d("")) }}">

    <script src="{{ rel("/static/js/jquery.min.js") }}"></script>
    {# <script src="{{ rel("/semantic/dist/semantic.js") }}"></script> #}

    {% block scripts %}
    {% endblock %}

    <title>{% block title %}{{ title }} {{ title_suffix }}{% endblock %}</title>
{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

{% block body %}
{% endblock %}

</body>
</html>
